
  
  .invocard {
    background-color: #fff;
    border-radius:0.5em;
      display: flex;
      // max-width: 100%;
    margin: 0.5em 0.5em 0.5em 0.5em;
      overflow: hidden;
}
.box {
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 600px) {
    flex-direction: column-reverse;
    width: -webkit-fill-available;
    margin: 10px;
  }
}
.StripePayButton {
  background-color: #6772e5;
  height: 40px;
  width: max-content;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  transition: all 150ms ease;
  cursor: pointer;
  // width: "80px",
  margin-left: 70%;
  @media only screen and (max-width: 600px) {
    margin-left: 0%;
  }
}
.box2 {
  display: flex;
  justify-content: center;
  width: 100%;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    
  }
}
.modal {
  width: 40%;
}
.add-minus-quantity button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.add-minus-quantity input {
  width: 3rem;
  height: 2rem;
  border: 2px solid orange;
  box-sizing: border-box;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-color);
  margin: 0 0.25rem;
  border-radius: 0.5rem;
  outline: none;
  background-color: transparent;
}

.add-minus-quantity input:focus {
  outline: none;
}

.fa-minus:hover {
  color: #ffb800;
}

.fa-plus,
.fa-minus {
  color: var(--icon-color);
}

.fa-plus:hover {
  color: #42c157;
}

.title,
.add-minus-quantity,
.price,
.price2,
.subPrice,
// .remove-item {
//   // padding-left: 2rem;
// }
.datefield,

.add-minus-quantity {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.price {
  margin-bottom: 0rem;
  width: 30%;
  text-decoration-line: line-through;
}
.price2 {
  margin-bottom: 0rem;
  width: 30%;
}
.subPrice {
  margin-bottom: 0rem;
  width: 35%;
}
//   .price h3::before {
//     content: "Price: ";
//   }
.price {
  display: flex;
  align-items: center;
}
.price2 {
  display: flex;
  align-items: center;
}
.subPrice {
  display: flex;
  align-items: center;
}
.price h3 {
  font-style: normal;
  font-weight: bold;
  // font-size: 2rem;
  text-transform: capitalize;
  color: var(--main-color);
}
.price2 h3 {
  font-style: normal;
  font-weight: bold;
  // font-size: 2rem;
  text-transform: capitalize;
  color: var(--main-color);
}
.subPrice h3 {
  font-style: normal;
  font-weight: bold;
  // font-size: 2rem;
  text-transform: capitalize;
  color: var(--main-color);
}
.remove-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3rem;
  margin-bottom: 7px;
}

.remove-item button {
  border: none;
  background-color: transparent;
}
// .datefield {
//   margin-top:3rem
// }
.fa-trash-alt {
  color: #ed4848;
}
.error-message {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}

.cardDs {
  display: flex;
  // flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width:-webkit-fill-available;
  
}

.cardDs-left {
  flex: 1;
  padding: 16px;
}

.cardDs-left .main-image {
  width: 18rem;
  height: 18rem;
  border-radius: 8px;
}

.cardDs-right {
  flex: 2;
  padding: 16px;
}

.cardDs-right h2 {
  margin-top: 0;
}

.cardDs-bottom {
  padding: 16px;
}
