/*Desktop View*/
  .header {
    padding: 0px 0px;
  }
  .logo {
    width: 45px;
    height: 45px;
  }
  .nav-options {
    display: flex;
    width: 18%;
    height: max-content;
    position: absolute;
    align-items: flex-start;
    top: 49px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }

  @media (max-width: 648px) {
    /*Mobile View */
    .header {
      padding: 0px 0px;
    }
    .logo {
      width: 45px;
      height: 45px;
    }
    .nav-options {
      display: flex;
      width: 50%;
      height: max-content;
      position: absolute;
      align-items: flex-start;
      top: 49px;
      left: -100%;
      opacity: 0;
      transition: all 0.5s ease;
      flex-direction: column;
      list-style-type: none;
      grid-gap: 0px;
    }

  }

  