.add-minus-quantity button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }
  
  .add-minus-quantity input {
    width: 3rem;
    height: 2rem;
    border: 2px solid red;
    box-sizing: border-box;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-color);
    margin: 0 1rem;
    border-radius: 0.5rem;
    outline: none;
    background-color: transparent;
  }
  
  .add-minus-quantity input:focus {
    outline: none;
  }
  
  .fa-minus:hover {
    color: #ffb800;
  }
  
  .fa-plus,
  .fa-minus {
    color: var(--icon-color);
  }
  
  .fa-plus:hover {
    color: #42c157;
  }
  
  .title,
  .add-minus-quantity,
  .price,
  .price2,
  .subPrice,
  // .remove-item {
  //   // padding-left: 2rem;
  // }
  .datefield,
  
  .add-minus-quantity {
    display: flex;
    cursor: pointer;
    align-items: center;
  }
  .price {
    margin-bottom: 0rem;
    width: 30%;
    text-decoration-line: line-through;
  }
  .price2 {
    margin-bottom: 0rem;
    width: 30%;
  }
  .subPrice {
    margin-bottom: 0rem;
    width: 35%;
  }
  //   .price h3::before {
  //     content: "Price: ";
  //   }
  .price {
    display: flex;
    align-items: center;
  }
  .price2 {
    display: flex;
    align-items: center;
  }
  .subPrice {
    display: flex;
    align-items: center;
  }
  .price h3 {
    font-style: normal;
    font-weight: bold;
    // font-size: 2rem;
    text-transform: capitalize;
    color: var(--main-color);
  }
  .price2 h3 {
    font-style: normal;
    font-weight: bold;
    // font-size: 2rem;
    text-transform: capitalize;
    color: var(--main-color);
  }
  .subPrice h3 {
    font-style: normal;
    font-weight: bold;
    // font-size: 2rem;
    text-transform: capitalize;
    color: var(--main-color);
  }
  .remove-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3rem;
    margin-bottom: 7px;
  }
  
  .remove-item button {
    border: none;
    background-color: transparent;
  }