@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.recharts-default-legend {
  padding: revert;
  margin: revert;
  width: max-content;
  text-align: center;
}

@keyframes fadeInOut {
  0% {
    color: #f7f979;
  }
  50% {
    color: orange;
  }
  100% {
    color: #f7f979;
  }
}
@keyframes fadeInOut1 {
  0% {
    color: red;
  }
  50% {
    color: orange;
  }
  100% {
    color: red;
  }
}


.ant-select-selection.ant-select-selection--single {
  height: 1.88rem;
}

.avatar {
  justify-content: "center";
  flex-direction: "column";
}
.avatar-bg {
  width: 5.625em;
  height: 5.625em;
  padding: 0.75em 1.875em;
  box-shadow: 0 0.8125em 1.6875em -0.3125em rgba(50, 50, 93, 0.25);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 5em;
}

.edit_hover_class {
  visibility: hidden;
}
.edit_hover_class:hover {
  visibility: visible;
}
@layer base {
  ::-webkit-scrollbar {
    width: 5px; 
  }
  ::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 2px; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
}

.ant-btn-primary:focus {
  align-items: center;
  appearance: none;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Poppins", monospace;
  height: 1.8rem;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 0.2rem 0.5em;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: "0.8rem";
  background-image: linear-gradient(90deg, tomato, #ffb600e0)!important;
  margin-left: 0.3rem;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
 
  -webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 45%) inset;
  box-shadow: 0 2px 8px rgb(0 0 0 / 45%) inset;

}
.ant-table-thead > tr > th .ant-table-filter-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 100%;
  color: tomato;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.documentId {
  position: absolute;
}
.ant-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 0.75rem;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 1.88rem;
}

.ant-avatar-lg {
  width: 1.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
}

.ant-table-row {
  position: relative;
}

.ant-table-row:hover .documentId {
  display: block;
  height: 54px;
  right: 0;
}

.ant-tooltip-inner {
  color: white;
  background-color: tomato;
}
.textarea {
  width: 100%;
  min-height: 11.5em;
  background-color: #fff;
  color: #444;
  display: block;
  margin: 0 0 0.42rem 0;
  outline: none;
  box-shadow: 0em 0.25em 0.625em -0.25em #aaa;
  padding: 0.3rem 1rem;
}
.ant-switch {
  background-color: rgb(213, 213, 213);
}

.map-and-address-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27em;
  height: 14em;
  background-color: white;
  border-radius: 10px;
}

.chosen-address {
  margin-bottom: 10px;
  font-weight: bold;
}

.map-container {
  width: 330px;
  height: 200px;
  overflow: hidden;
}

.ant-btn-background-ghost {
  color: #fff;
  border-color: #fff;
  height: 1.58rem;
  padding: 3px 4px;
  background-color: #ff7158bf;
  border-radius: 3px;
  box-shadow: grey 1px 2px 0px 0px;
}
.ant-btn-danger {
  font-family: "Poppins";
  color: #fff;
  height: 1.58rem;
  padding: 3px 4px;
  border-radius: 3px;
  background-color: #ff7158bf;
  border-color: #ff71586b;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  -webkit-box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  box-shadow: grey 1px 2px 0px 0px;
}
.form-background {
  background-color: whitesmoke;
  font-family: "Poppins";
  scrollbar-width: "thin";
 
}

.ant-input-affix-wrapper {
  position: relative;
  display: inline-block;
  width: -webkit-fill-available;
  height: 1.88rem;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 0.75rem;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
  display: inline-flex;
  box-shadow: lightgrey 2px 2px 2px 2px;
  justify-content: center;
  align-items: center;
}

.ant-input-affix-wrapper > input.ant-input {
  padding: 0;
  height: 17px;
  font-size: inherit;
  border: none;
  outline: none;
  font-family: "Poppins";
}

.ant-select-selection__rendered {
  height: 1.88rem;
}
.ant-select-selection {
  height: 1.88rem;
}

.ant-select-selection--multiple {
  height: 1.88rem;
  font-size: 0.75rem;
}
.ant-select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 1.88rem;
  width: 100%;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.65);
  font-variant: tabular-nums;
  list-style: none;
  position: relative;
  display: inline-block;
  outline: 0;
}

.blink {
  font-size: 12px;
  font-family: "Poppins";
  color: tomato;
  animation: blink 2s linear infinite;
}

@keyframes blink {
  0% {
    color: #ff3d50;
  }
  100% {
    color: #222291;
  }
}
.ant-divider-horizontal {
  display: flex;
 
  width: 100%;
  min-width: 100%;
  margin: 0.2em 0;
}
style attribute {
  margin-right: 0.5rem;
  color: #1890ff;
  font-size: 1.0625em;
  cursor: pointer;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  height: 1.88rem;
  font-family: "Poppins";
  font-size: 0.75rem ;
  margin: 0 0 0.42rem 0.1rem;
  box-shadow: 0 0.25em 0.62em #aaa;
  background-color: #fff;
  border: 0px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-select-selectors {
  position: relative;
  height: 1.88rem;
  font-family: "Poppins";
  font-size: 0.75rem;
  margin: 0 0 0.42rem 0.1rem;
  box-shadow: 0 0.25em 0.62em #aaa;
  background-color: #fff;
  border: 0px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
 
  font-family: "Poppins";
  margin: 0 0 0.42rem 0.1rem;
  box-shadow: 0 0.25em 0.62em #aaa;
  background-color: #fff;
  border: 0px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.customize-select {
  position: relative;
  height: 1.88rem;
  font-family: "Poppins";
  font-size: 0.75rem;
  margin: 0 0 0.42rem 0.1rem;
  box-shadow: 0 0.25em 0.62em #aaa;
  background-color: #fff;
  border: 0px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-tabs {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 0.813rem;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-family: "Poppins";
  font-feature-settings: "tnum", "tnum";
  display: flex;
}

.ant-upload.ant-upload-select-picture-card {
  border: 0.0625em dashed #eee;
  height: 5.9375em;
  border-radius: 0.25em;
  border-color: teal;
  background-color: #fff;
  color: #444;
  text-align: center;
  cursor: pointer;
  -webkit-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  vertical-align: top;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  display: table;
}

iframe#webpack-dev-server-client-overlay {
  display: none !important;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 18px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

[data-theme="dark"] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}

.ant-checkbox + span {
  font-size: 0.75rem;
}
.ant-layout.ant-layout-has-sider {
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
}

.ant-avatar {

  overflow: hidden;
  width: 1.8rem;
  height: 1.8rem;

}

.ant-btn-primary {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Poppins", monospace;
  height: 1.8rem;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 4px 10px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: "0.8rem";
  margin-left: 0.5rem;
}
.ant-btn-primary:active {
  height: 1.8rem!important;
  background-image: linear-gradient(90deg, tomato, #ffb600e0)!important;

}
.ant-btn-primary:hover {
  background-image: linear-gradient(to right, tomato, tomato);
}

.ant-btn-cancel {
  color: #fff;
  height: 1.58rem;
  font-size: 0.8rem;
  border-color: #fff;
  padding: 2px 1px;
  color: white;
  border-radius: 0.3rem;
  box-shadow: grey 1px 2px 0px 0px;
  background-color: rgb(237, 131, 131);
  transition: background-image 0.3s ease; /* Add transition for smooth effect */
}
.ant-btn-cancel:hover {
  background-color: linear-gradient(to right, red);
}

.ant-avatar1 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.8rem;
  list-style: none;
  font-family: poppins;
  position: relative;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background: #ff9500;
  border: 1px solid transparent;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
}

.matrix-table {
  border-collapse: collapse;
  width: 100%;
}

.matrix-table th,
.matrix-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.matrix-table th {
  background-color: #f2f2f2;
}

.matrix-table input {
  width: 50px; /* Adjust the width as needed */
  text-align: center;
}

.matrix-table button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.parentContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.leftContainer {
  flex: 1;
  margin-right: 10px;
}

.rightContainer {
  flex: 1;
}

.matrix-table button:hover {
  background-color: #45a049;
}

.ant-drawer .ant-drawer-mask {
  position: absolute;
  inset: 0;
  z-index: 1000;
  background: rgba(1, 30, 70, 0.7);
  pointer-events: auto;
}
.page-container {
  max-height: 100vh;
  overflow-y: auto;
  padding: 20px;
}

.ant-menu .ant-menu-item-selected {
  background-color: #709ab3;
}

@media print {
  .print-content {
    font-size: 2rem; /* adjust as needed */
  }
}

  .ant-tabs-tab {
  margin: 0;
  padding: 1px 16px;
  background: rgba(0, 0, 0, 0.02);
  border: 1px solid #f0f0f0;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100px;
}
.name-item {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.name-item h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}
.ant-checkbox-wrapper {
  margin-right: 10px;
}
.address-table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
}

.address-table table {
  width: 100%;
  border: 1px solid #ccc;
}

.address-table th, .address-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.address-table th {
  background-color: #f4f4f4;
}

.address-table td {
  background-color: #ffffff;
}

.location-search-input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.autocomplete-dropdown-container {
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
}

.suggestion-item {
  padding: 10px;
}

.suggestion-item--active {
  background-color: #fafafa;
  cursor: pointer;
}
/* this is important dont delete */
.scroller {  
scrollbar-width: thin;
}

.ant-modal .ant-modal-footer {
  display: none;
}

.flip {
  transform: rotateY(180deg);
}

.custom-image-gallery {
  display: flex;
  flex-wrap: wrap; /* Allow the images to wrap if they don't fit on one line */
  gap: 10px; /* Add space between the images */
}

.gallery-item {
  width: 120px;  /* Set the size of each image */
  height: 120px; /* Keep the images square */
  overflow: hidden;
  border: 2px solid transparent; /* Default border for images */
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Make sure the images fit properly */
}

.highlight {
  border: 2px solid red; /* Highlight the primary image with a red border */
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5); /* Optional: Add a shadow effect to the highlighted image */
}

.loader {
  border: 2.5px dashed  #1677ff;
  /* border-top: 8px solid #3498db; */
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.digital-clock {
  display: inline-block;
 height:2rem;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-family: monospace;
  font-size: 1.5rem;
  text-align: center;
  width: auto;
}

:where(.css-dev-only-do-not-override-apn68).ant-menu-inline.ant-menu-root .ant-menu-item >.ant-menu-title-content, :where(.css-dev-only-do-not-override-apn68).ant-menu-inline.ant-menu-root .ant-menu-submenu-title >.ant-menu-title-content {
  flex: auto;
  min-width: 10rem;
  overflow: visible;
  text-overflow: ellipsis;
}

body {
  font-family: 'Poppins', sans-serif;
}